<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пости</title>
</head>
<body>
    <p><%=post.title %></p>
    <p><%=post.description %></p>
    <p><%=post.author %></p>
    <p><%=post.date_created %></p>
    <p><%=post.date_updated %></p>
    <p><%=post.isUpdated %></p>
    <p><%=post.views %></p>
    <a href="/posts/delete/<%=post._id %>">Видалити пост</a>
    <a href="/posts/edit/<%=post._id %>">Редагувати пост</a>
</body>
</html>