<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/singePost.css">
    <title>Пости</title>
</head>
<body>
    <ul class="nav-menu">
        <li class="nav-item"><a href="/create">Створити пост</a></li>
        <li class="nav-item"><a href="/">Всі пости</a></li>
    </ul>
    <div class="container">
        <h1 class="post-title"><%=post.title %></h1>
        <p class="post-meta">Автор: <%=post.author %> | Дата: <%=date_created %></p>
        <div class="post-content">
            <p><%=post.description %></p>
        </div>
        <p>Кількість переглядів: <%=post.views %></p>
        <% if(post.isUpdated){ %>
            <p class="post-updated">Востанє відредагований: <%=date_updated%> </p>
          <% }%>
        
        <a class="button-link button-delete" href="/delete/<%=post._id %>">Видалити пост</a>
        <a class="button-link button-update" href="/edit/<%=post._id %>">Редагувати пост</a>
    </div>
</body>
</html>